<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">
        <h2 style="font-family: Lato; color: red;"> <i class="fas fa-file-prescription" style="font-size:48px; color:rgb(0, 162, 255)"></i> PHARMANET </h2>
    </a>
</nav>